body{
  font-size: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  height: 100vh;
}
.containerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.box{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 15px;
  width: 400px;
  height: 500px;
}

.boxcontainer{
  display:flex;
}

.box-img{
  width: 380px;
  height:450px;
}

.win{
  border: 20px solid green;
}

.lose{
  border: 20px solid red;
}

.tie{
  border: 20px solid black;
}

.result{
  font-size: 20px;
}

@media(max-width:700px){
 .boxcontainer{
  display:block;
 }
}

.button{
  padding:15px;
  background-color: gray;
  border-radius: 10px;
  margin-right:5px;
 
}